<template>
    <div class="col-xs-12 col-sm-6">
        <p v-if="!server">Please select a server</p>
        <p v-else> Server #{{server.id}} selected, status: {{server.status}}</p>
        <hr>
        <button @click="resetStatus">Normal</button>


    </div>

</template>

<script>
    import {serverBus } from "../../main";
    export default {
        props: ['server'],
        data(){
          return {
              server: null
          }
        },
        created(){
            console.log('created');
            serverBus.$on("serverSelected", (server) => {
                this.server = server;
                console.log(this.server)
            })
        },
        methods:{
            resetStatus(){
                this.server.status = 'Normal'
            }
        }
    }
</script>

<style>

</style>
