<template>
  <div><app-server-status v-for="server in 5"></app-server-status></div>
</template>

<script>
  import ServerStatus from './ServerStatus.vue'
  import AppServerStatus from "./ServerStatus";
  export default {
      components: {
        AppServerStatus,
        'app-server-status': ServerStatus
      }

    }
</script>
